*.log
.DS_Store

# Ignore everying in .config folder by default
.config/*
!.config/btop
!.config/git
!.config/kitty
!.config/nvim
!.config/neofetch
!.config/p10k
!.config/zsh

# zsh
*.zwc
*.zwc.old
.zcalc_history
.zcompcache
.zcompdump*
.zsh_history
.zsh_sessions

