.zcompdump*
*.log

# .config folder
.config/*
!.config/bash
!.config/fzf
!.config/git
!.config/kitty
!.config/nvim
!.config/p10k
!.config/tmux/plugins/tpm
!.config/tmux/tmux.conf
!.config/vim/.vimrc
!.config/zsh
.config/zsh/.zinit

.DS_Store
